@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background-color: white;
}

#archive-content-wrapper blockquote {
	background-color: #f5f9fd;
	@apply px-5 py-16 rounded-2xl my-5 relative;
}

#archive-content-wrapper blockquote::before,
#archive-content-wrapper blockquote::after {
	content: "''";
	color: #daeafa;
	font-size: 10rem;
	@apply absolute;
}

#archive-content-wrapper blockquote::before {
	top: 70px;
}

#archive-content-wrapper blockquote::after {
	@apply left-[20px] bottom-[-40px];
}

#archive-content-wrapper figure img {
	@apply rounded-md my-3 mx-auto;
}
