@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background-color: white;
}

#archive-content-wrapper blockquote {
	background-color: red;
}

#archive-content-wrapper figure img {
	@apply rounded-md;
	@apply my-3;
}
